@page "/films"

<PageHeader Title="Manage Films">
    <RightContent>
        <button class="btn btn-primary" @onclick="AddClicked">
            <i class="fas fa-plus" />
        </button>
    </RightContent>
</PageHeader>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in _filmsToShow)
        {
            <tr>
                <td class="align-middle">
                    @if (HasChildren(film))
                    {
                        <i class="fas fa fa-caret-@(film.ShowChildren ? "down" : "right") me-2 font-24 cursor-pointer"
                   @onclick="(() => ChangeShowChildren(film))"></i>

                        <span class="cursor-pointer" @onclick="(() => ChangeShowChildren(film))">
                            @film.Title
                        </span>
                    }
                    else
                    {
                        <span>
                            @film.Title
                        </span>
                    }
                </td>
                <td class="align-middle">
                    @film.ReleaseDate.ToShortDateString()
                </td>
                <td class="align-middle text-end">
                    <button class="btn btn-outline-secondary" @onclick="(() => EditClicked(film))"
                        title="Edit Film">
                        <i class="fas fa-edit" />
                    </button>
                    <button class="btn btn-danger" @onclick="(() => DeleteClicked(film))"
                        title="Edit Film">
                        <i class="fas fa-trash" />
                    </button>
                </td>
            </tr>

            @if (film.ShowChildren)
            {
                foreach (var child in GetChildren(film))
                {
                    <tr>
                        <td class="align-middle ps-5">
                            <span>
                                @child.Title
                            </span>
                        </td>
                        <td class="align-middle">
                            @child.ReleaseDate.ToShortDateString()
                        </td>
                        <td class="align-middle text-end">
                            <button class="btn btn-outline-secondary" @onclick="(() => EditClicked(child))"
                        title="Edit Film">
                                <i class="fas fa-edit" />
                            </button>
                            <button class="btn btn-danger" @onclick="(() => DeleteClicked(child))"
                        title="Edit Film">
                                <i class="fas fa-trash" />
                            </button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<div class="modal fade" id="saveFilmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Film</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@_filmToSave" OnValidSubmit="SaveFilm" id="saveFilmFrm">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <InputText class="form-control" id="title" @bind-Value="_filmToSave.Title" />
                        <ValidationMessage For="() => _filmToSave.Title" />
                    </div>
                    <div class="mb-3">
                        <label for="releaseDate" class="form-label">ReleaseDate</label>
                        <InputDate class="form-control" id="releaseDate" @bind-Value="_filmToSave.ReleaseDate" />
                        <ValidationMessage For="() => _filmToSave.ReleaseDate" />
                    </div>
                    <div class="mb-3">
                        <label for="parentId">Parent Film</label>
                        <select class="form-control" @onchange="ParentFilmChanged">
                            <option value="">Select parent film...</option>
                            @foreach (var film in GetParentFilms())
                            {
                                if (_filmToSave.ParentId == film.Id)
                                {
                                    <option value="@film.Id" selected>@film.Title</option>
                                }
                                else
                                {
                                    <option value="@film.Id">@film.Title</option>
                                }
                            }
                        </select>
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="saveFilmFrm">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteFilmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Film</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete film '@(_filmToDelete?.Title)'?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn alert-danger" @onclick="DeleteApproved">Yes</button>
            </div>
        </div>
    </div>
</div>