@page "/persons"

<PageHeader Title="Manage Film Persons">
    <RightContent>
        <button class="btn btn-primary" @onclick="AddClicked">
            <i class="fas fa-plus" />
        </button>
    </RightContent>
</PageHeader>

<div class="row">
    @foreach (var person in _persons)
    {
        <div class="card m-2 col-4 p-0" style="width: 18rem;">
            @if (string.IsNullOrWhiteSpace(person.ProfilePic))
            {
                if (person.Sex == "F")
                {
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Crystal_Clear_kdm_user_female.svg/1200px-Crystal_Clear_kdm_user_female.svg.png" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png" class="card-img-top" alt="...">
                }
            }
            else
            {
                <img src="@person.ProfilePic" class="card-img-top" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title" style="height:60px;">@person.Name (@person.Sex) - @(person.Birthday.ToShortDateString())</h5>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-outline-secondary btn-block w-100" @onclick="(() => EditClicked(person))"
                            title="Edit Person">
                            Edit
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-block w-100" @onclick="(() => DeleteClicked(person))"
                            title="Delete Person">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="savePersonModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@_personToSave" OnValidSubmit="SavePerson" id="savePersonFrm">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <InputText class="form-control" id="name" @bind-Value="_personToSave.Name" />
                        <ValidationMessage For="() => _personToSave.Name" />
                    </div>
                    <div class="mb-3">
                        <label for="birthday" class="form-label">Birthday</label>
                        <InputDate class="form-control" id="birthday" @bind-Value="_personToSave.Birthday" />
                        <ValidationMessage For="() => _personToSave.Birthday" />
                    </div>
                    <div class="mb-3">
                        <label for="sex">Sex</label>
                        <select class="form-control" @onchange="SexChanged" id="sex">
                            <option value="">Select gender...</option>
                            @if (_personToSave.Sex == "M")
                            {
                                <option value="F">Female</option>
                                <option value="M" selected>Male</option>
                            }
                            else if (_personToSave.Sex == "F")
                            {
                                <option value="F" selected>Female</option>
                                <option value="M">Male</option>
                            }
                            else
                            {
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            }
                        </select>
                        <ValidationMessage For="() => _personToSave.Sex" />
                    </div>
                    <div class="mb-3">
                        <label for="ProfilePic" class="form-label">Profile Photo</label>
                        <InputText class="form-control" id="ProfilePic" @bind-Value="_personToSave.ProfilePic" />
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="savePersonFrm">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletePersonModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete person '@(_personToDelete?.Name)'?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn alert-danger" @onclick="DeleteApproved">Yes</button>
            </div>
        </div>
    </div>
</div>